project:
  type: website
  output-dir: docs

website:
  title: "Accessing and Analyzing Data from FRED and DB.nomics"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About

format:
  html:
    theme: cosmo
    css: style.css
    toc: true
